img {
    height: 8rem;
    width: auto;
     
}

.movies-list {
  display: flex;
  overflow-x: auto;
  margin-left: 30px; 
  margin-right: 30px;
}

h2 {
  margin-left: 30px;
  font-size: 1.1rem;
  margin-top: 40px;
}
